
 
.bg {
    width: 100%;
    height: 100%;
    background: var(--main-gradient);
    background-size: cover;
    object-fit: cover;
    position: fixed;
    top: 0;
    z-index: -3;
    transition-duration: 1s;
}

body, .content {
    height: 100vh;
    width: 100%;
}


.step1,
.step2,
.step3,
.final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%;
    /* min-width: 860px; */
    transition-duration: 1s;
    margin: 0 auto 0 auto;

}

@media (max-width: 950px) {
    .step1 {
        width: 97%;
    }

    .content {
        height: 110%;
    }
    
}

.step1 h2 {
    color: var(--font-color);
    margin: 0 auto 0 0;
}

.step1 h2::after,
.step2 h2::after,
.step3 h2::after,
.final h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color: var(--font-color);
}

/* -------------- */
/* STEP 1 Section */
/* -------------- */

/* Checkboxes located in utils.css */


.s1endblock, .s2endblock, .s3block {
    display: flex;
    max-width: 900px;
}

.s1endblock button, .s2endblock button {
    margin: 50px 30px 0 25px;
    width: 200px;
    height: 60px;

    color: var(--font-color);
    border: 4px solid var(--btn-confirm);
    border-radius: 6px;
    transition-duration: 0.5s;

}

.s1endblock button:hover, .s2endblock button:hover {
    background: var(--btn-confirm);
}

.s1endblock p, .s2endblock p, .s3block p  {
    margin: 50px 0 0 30px;
    display: inline;
    text-align: left;
    font-weight: 300;
}

strong {
    color: var(--main-color);
    font-weight: 400;
}

/* ------ */
/* Step 2 */
/* ------ */



.step2 {
    width: 70%;
    min-width: 770px;
    margin: 0 auto 0 auto;
    opacity: 0;
    transform: translate(0px, -500px);
    transition-duration: 1s;
}
.step2.active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.step2 h4 {
    cursor: pointer;
}

.step2 label {
    height: 150px;
    color: var(--utility-hover);
}

.preferences {

    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.h4Rift {
    display: inline-block;
    margin: 0 0 0 0;
}

#riftRecurrence {
    display: block;
}

.step2 input[type='checkbox'] + label > .switch {
    display: inline-block;
    width: 45px;
    height: 22.5px;
    border-radius: 50px;
    background: var(--main-gradient);
    border: 2px solid var(--utility-hover);
    margin: 0 10px 0 15px;
}

.step2 input[type='checkbox']:checked + label > .switch {
    transition-duration: 0.3s;
    border: 2px solid var(--btn-confirm);
}

.step2 input[type='checkbox'] + label > .switch > div {
    margin: 2.5px 0 0 3px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: var(--main-color);
    transition-duration: 0.5s;
}

.step2 input[type='checkbox']:checked + label > .switch > div {
    margin: 2.5px 0 0 20px;
    background: var(--btn-confirm);
    transition-duration: 0.3s;
}

.selectContainer {
    position: relative;
    width: 50%;
    height: 35px;
}
select {
    width: 100%;
    border: 2px solid var(--utility-hover);
    border-radius: 5px;
    background: var(--second-btn-color);
    position: relative;
    transition-duration: 0.5s;
    padding: 2px 0 2px 10px;

}


.selectContainer::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 17px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--font-color);
}

.selectContainer.active::after {
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

select:focus {
    outline: none;
    border: 2px solid var(--footer-color);
    transition-duration: 0.5s;
}


/* Step 3 */

.step3 {
    width: 70%;
    min-width: 730px;
    margin: 0 auto 0 auto;
    opacity: 0;
    transform: translate(0px, -500px);
    transition-duration: 1s;
}
.step3.active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.s3block button {
    border: 4px solid var(--discord);
    border-radius: 7px;
    width: 100%;
    padding: 20px 0 20px 0;
    margin: 30px 0 0 0;
    transition-duration: 0.6s;
}

.s3block button:hover {
    background: var(--discord);
}

/* Finish/Final Splash Screen */

.final {
    opacity: 0;
    transform: translate(0px, -500px);
    transition-duration: 1s;
}

.final.active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.final h2::after {
    background-color: var(--btn-confirm);
}

.returnBtn {
    border: 4px solid var(--discord);
    border-radius: 7px;
    width: 100%;
    padding: 15px 0 15px 0;
    margin: 30px 0 30px 0;
    transition-duration: 0.6s;

}

.returnBtn:hover {
    background: var(--discord);
}

.final h3 {
    text-align: center;
}

.profileBtn {
    border: 4px solid var(--main-color);
    border-radius: 7px;
    width: 100%;
    padding: 15px 0 15px 0;
    margin: 30px 0 0 0;
    transition-duration: 0.6s;
}

.profileBtn:hover {
    background: var(--main-color);
}

/* Animation on continue */

.continueAnim {
    animation: rotop 0.8s ease-in-out 0s forwards;
}

@keyframes rotop {
    0% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
    100% {
        transform: translate(0%, 500px);
        opacity: 0;
    }
}

@media (max-width: 760px) {


    body, .content {
        height: 90vh;
        width: 100%;
    }  

    .step1, .step2, .step3 {
        margin: 70px 0 0 0;
        width: 100%;
        min-width: auto;
    }

    .step1 h2, .step2 h2, .step3 h2 {
        font-size: 2.4rem;
        margin: 0 auto 0 auto;
    }

    .step1 .interests {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 200px));
        justify-content: center;
        min-width: 60%;
        width: 95%;
        margin: 0 auto 0 auto;
    }

    .interests label {
        margin: 25px 5px 0 5px;
        padding: 10px 10px 10px 10px;
    }

    .s1endblock, .s2endblock, .s3block {
        flex-direction: column;
        width: auto;
        margin: 0 0 0 0;
        align-items: center;
    }

    .s1endblock p, .s2endblock p, .s3block p {
        margin: 20px 10px 0 10px;
        font-size: 1.6rem;
        min-width: 60%;
        width: 80%;
        max-width: 375px;
        
    }

    .s1endblock button, .s2endblock button, .s3block button {
        min-width: 60%;
        width: 80%;
        max-width: 375px;
        margin-top: 30px;
    }

    .s3block button {
        padding: 10px 0 10px 0;
    }

    .step1 input[type='checkbox']+label>span {
        margin: 4px 0 0 10px;
    }

    /* Step 2 */

    .preferences {
        justify-content: center;
    }

    .step2 label {
        height: auto;
        padding: 20px 15px 20px 15px;
        max-width: 375px;
        width: 100%;
    }

    .selectContainer::after {
        top: 12px;
        right: 10px;
    }


    /* Final */

    .final {
        margin-top: 75px;
    } 

}